html, body {
	touch-action:none;
	content-zooming:none;
	position:absolute;
	margin:0;
	padding:0;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#000;
}

#canvas {
    position: absolute;
    width: 47.5vw;
    left: -40.5px;
    top: -160px;
    height: 19rem;
    margin-top: 38%;
    padding-bottom: 163px;
    padding-top: 35px;
}
