*, *:before, *:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body {
  background:#edeef0;
  width:800;
  height:500;
}

.table {
  display: table;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

#ios, #android {
  visibility: hidden;
  position: absolute;
}

.button {
  margin: auto;
  display: block;
  position: absolute;
 /* margin-top: -175px;*/
  background: #fff;
  width: 130px;
  height: 75px;
  cursor: pointer;
  will-change: background;
}
.button.ios {
  border-radius: 100px;
  -webkit-transition: 0s background 0.25s ease-in-out;
  transition: 0s background 0.25s ease-in-out;
  top: 0%;
  left: 83.6%;
}
.button.ios:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  content: '';
  display: block;
  border-radius: 100px;
  will-change: transform;
  box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  will-change: background;
}
.button.ios:after {
  position: absolute;
  display: block;
  content: '';
  height: 65px;
  width: 65px;
  top: 5px;
  left: 5px;
  background-color: #fff;
  border-radius: 100px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.button.ios:active:after {
  width: 80px;
}

input[type=checkbox]:checked + label.ios {
  background-color: #5E81A8;
  -webkit-transition: 0s background 0s ease-in-out;
  transition: 0s background 0s ease-in-out;
}
input[type=checkbox]:checked + label.ios:after {
  -webkit-transform: translateX(55px);
          transform: translateX(55px);
}
input[type=checkbox]:checked + label.ios:active:after {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}
input[type=checkbox]:checked + label.ios:before {
  -webkit-transform: translateX(15px) scale(0.1);
          transform: translateX(15px) scale(0.1);
}

.button.android {
  background-color: #939393;
  border-radius: 100px;
  height: 50px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 120px;
}
.button.android:after {
  position: absolute;
  display: block;
  content: '';
  height: 70px;
  width: 70px;
  margin-top: -10px;
  margin-left: -10px;
  top: 0px;
  left: 0px;
  background-color: #fff;
  border-radius: 100px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

input[type=checkbox]:checked + label.android {
  background-color: rgba(0, 150, 136, 0.5);
}
input[type=checkbox]:checked + label.android:after {
  background-color: #009688;
  -webkit-transform: translateX(70px);
          transform: translateX(70px);
}

.button.android:before {
  position: absolute;
  display: block;
  content: '';
  height: 150px;
  width: 150px;
  margin-top: -50px;
  margin-left: -50px;
  top: 0px;
  left: 0px;
  background-color: rgba(147, 147, 147, 0.15);
  border-radius: 100px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-transform: scale(0.01);
          transform: scale(0.01);
  will-change: background, transform;
}
.button.android:active:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

input[type=checkbox]:checked + label.android:before {
  background-color: rgba(0, 150, 136, 0.1);
  -webkit-transform: translateX(70px) scale(0.01);
          transform: translateX(70px) scale(0.01);
}
input[type=checkbox]:checked + label.android:active:before {
  -webkit-transform: translateX(70px) scale(1);
          transform: translateX(70px) scale(1);
}
