body,
html {
  background: #1f2633;
  height: 100%;
  padding: 0;
  margin: 0;
}
.perspector {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.perspectiveText {
       position: absolute;
    margin: 0 auto;
    top: -25vw;
    left: 20vw;
    right: 0;
    transform: translateX(0px) translateY(0%);
    height: 1000px;
    background: transparent;
    transform-origin: 50% 50%;
    transform: skew(-40deg, 25deg) scaleY(0.7);
    font-size: 4vw;
    font-weight: 900;
}
.perspectiveText code {
  padding: 0;
  height: 1000px;
  display: inline;
}
code[class*="language-"],
pre[class*="language-"],
.highlighter {
  text-shadow: none;
  font-family: "Courier New";
  color: rgba(31,38,51,0.54);
  color: #9e182f;
  color: rgba(167,175,57,0.65);
  line-height: 1em;
}
code[class*="language-"] .token.tab,
pre[class*="language-"] .token.tab,
.highlighter .token.tab,
code[class*="language-"] .token.cr,
pre[class*="language-"] .token.cr,
.highlighter .token.cr,
code[class*="language-"] .token.lf,
pre[class*="language-"] .token.lf,
.highlighter .token.lf {
  opacity: 0;
}
code[class*="language-"] .token.keyword,
pre[class*="language-"] .token.keyword,
.highlighter .token.keyword {
  color: rgba(167,175,57,0.65);
  color: #9e182f;
  font-weight: bold;
}
code[class*="language-"] .token.punctuation,
pre[class*="language-"] .token.punctuation,
.highlighter .token.punctuation {
  color: rgba(255,255,255,0.25);
  color: rgba(158,24,47,0.55);
}
code[class*="language-"] .token.operator,
pre[class*="language-"] .token.operator,
.highlighter .token.operator {
  background-color: transparent;
  color: rgba(255,255,255,0.25);
}
pre {
  background: #fff;
  padding: 0;
}
.hljs {
  background: #fff;
  color: rgba(31,38,51,0.54);
}
.hljs-built_in,
.hljs-literal,
.hljs-bullet,
.hljs-code,
.hljs-addition,
.hljs-keyword {
  color: rgba(167,175,57,0.65);
}
.typed-cursor {
  opacity: 1;
  color: rgba(0,0,0,0.2);
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  line-height: 1em;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
