body {
  min-height: ;
  background-color:transparent;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  color: #333333;
}

p {
  margin: 0;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("https://crossorigin.me/http://eina.ca/weather/assets/img/load.gif") center no-repeat #fff;
}

.wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 2.12766%;
  border-top: 5px solid #f9c349;
  box-shadow: -8px 0 8px -8px #d1d0d0, 8px 0 8px -8px #d1d0d0;
}
.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

.wrapper header:after {
  content: " ";
  display: block;
  clear: both;
}

.unit-toggle {
  float: right;
}
.unit-toggle button:enabled {
  opacity: 0.5;
  font-weight: 500;
}
.unit-toggle button:disabled {
  color: #f9c349;
  font-size: 1.2em;
  font-weight: 700;
  opacity: 1;
}

.forecast {
  text-align: center;

}

.forecast_icon {
 
  font-size: 8em;
}

.forecast_summary, .forecast_city, .forecast_country {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.forecast_city {
  padding-top: 6.38298%;
  font-weight: 700;
}

.forecast_summary {
  font-size: 1.3em;
}

.forecast_cont {
 
}

.forecast_temp {
  display: block;
  padding-bottom: 6.38298%;
  font-family: "Montserrat", sans-serif;
  font-size: 5em;
  font-weight: 700;
  line-height: 1.1;
}

.forecast_high, .forecast_low {
  display: inline-block;
  padding: 0 1.06383%;
  font-family: "Montserrat", sans-serif;
}

.forecast_low, .day_low,
.day .wi-direction-down {
  color: #2b8a7f;
}

.forecast_high, .day_high,
.day .wi-direction-up {
  color: #f95a43;
}

.weekly ul {
  list-style-type: none;
  padding: 0 2.12766%;
}
@media (min-width: 810px) {
  .weekly ul {
    padding: 0 4.25532%;
  }
}

.day {
  display: block;
  padding: 1.06383%;
  border-bottom: 1px solid #dedddd;
}
@media (min-width: 810px) {
  .day {
    padding: 2.12766%;
  }
}
.day:last-of-type {
  border: none;
}

.day_name {
  display: inline-block;
  min-width: 31.91489%;
  margin-left: 2.12766%;
  font-size: 90%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  vertical-align: 17%;
  opacity: 0.8;
}
@media (min-width: 810px) {
  .day_name {
    padding: 2.12766%;
  }
}

.day_icon {
  width: 25.53191%;
  padding: 4.25532%;
  font-size: 2em;
}
@media (min-width: 480px) {
  .day_icon {
    width: 34.04255%;
  }
}
@media (min-width: 640px) {
  .day_icon {
    width: 17.02128%;
  }
}
@media (min-width: 810px) {
  .day_icon {
    display: inline-block;
    width: 6.38298%;
    padding: 0;
  }
}

.day_cond {
  display: none;
}
@media (min-width: 640px) {
  .day_cond {
    display: inline-block;
    width: 23.40426%;
    margin-left: 6.38298%;
    font-size: 90%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    vertical-align: 17%;
  }
}
@media (min-width: 810px) {
  .day_cond {
    width: 31.91489%;
    margin-left: 6.38298%;
    margin-right: 4.25532%;
    text-align: left;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    vertical-align: 17%;
  }
}

.day_high, .day_low {
  font-family: "Montserrat", sans-serif;
  vertical-align: 17%;
}

.day .wi-direction-up,
.day .wi-direction-down {
  vertical-align: 10%;
  padding-left: 1.5em;
}
@media (min-width: 810px) {
  .day .wi-direction-up,
  .day .wi-direction-down {
    padding-left: 2.12766%;
  }
}

footer {
  background-color: #eea708;
  padding: 0.5em;
  font-size: 90%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fdf9f3;
}
footer a {
  text-decoration: none;
  font-weight: 500;
  color: #fdf9f3;
  opacity: 1;
}
footer a:hover, footer a:focus {
  opacity: 0.5;
}
